{% extends 'base_nav.html' %}
{% block title %}
    Login | EduLine
{% endblock %}
{% block content %}
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Welcome back, scholar!</h2>
                    <p>“Reading is essential for those who seek to rise above the ordinary.” – Jim Rohn</p>
                </div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ error|striptags }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Your account doesn't have access to this page. To proceed, please login with an account
                                that as access.
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;
                                </button>
                                Please login to see this page.
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="form-group"><label for="username">Username</label><input class="form-control item"
                                                                                         type="text"
                                                                                         id="username" name="username">
                    </div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control"
                                                                                         type="password" id="password"
                                                                                         name="password">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    {#                <div class="form-group">#}
                    {#                    <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label#}
                    {#                            class="form-check-label" for="checkbox">Remember me</label></div>#}
                    {#                </div>#}
                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </form>
                <div class="text-center m-4">
                    <a href="{% url 'register' %}" class="text-info">New here? Create an account.</a></div>
            </div>
        </section>
    </main>

{% endblock %}