{% extends 'base_nav.html' %}
{% block title %}
    Signup | EduLine
{% endblock %}
{% block content %}
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Registration</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p>
                </div>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group"><label for="first_name">First Name</label><input class="form-control item"
                                                                                             type="text"
                                                                                             id="first_name"
                                                                                             name="first_name" required>
                    </div>
                    <div class="form-group"><label for="last_name">Last Name</label><input class="form-control item"
                                                                                           type="text"
                                                                                           id="last_name"
                                                                                           name="last_name"
                                                                                           required></div>
                    <div class="form-group"><label for="username">Username</label><input class="form-control item"
                                                                                         type="text"
                                                                                         id="username" name="username"
                                                                                         required></div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control item"
                                                                                         type="password" id="password"
                                                                                         name="password"
                                                                                         required>
                    </div>
                    <div class="form-group"><label for="email">Email</label><input class="form-control item"
                                                                                   type="email"
                                                                                   id="email" name="email" required>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </form>
            </div>
        </section>
    </main>

{% endblock %}
