{% extends 'base_nav.html' %}
{% load static %}
{% block title %}
    {{ book.title }} | EduLine
{% endblock %}
{% block content %}
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading mb-0 pt-5"></div>
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="gallery">
                                    <div class="sp-wrap"><a
                                            href="https://storage.googleapis.com/silken-phalanx-266122.appspot.com/{{ book.image|urlencode }}"><img
                                            class="img-fluid d-block mx-auto"
                                            src="https://storage.googleapis.com/silken-phalanx-266122.appspot.com/{{ book.image|urlencode }}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3>{{ book.title }}</h3>
                                    <div class="price">
                                        <h3>{{ book.author }}</h3>
                                    </div>
                                    {% if user.is_staff %}
                                        <form action="{% url 'history'  book.id %}"
                                              method="get">
                                            <button class="btn btn-primary"
                                                    type="submit"><i
                                                    class="icon-notebook"></i>View
                                                History
                                            </button>
                                        </form>
                                        <form action="{% url 'edit_book'  book.id %}"
                                              method="get">
                                            <button class="btn btn-primary"
                                                    type="submit"><i
                                                    class="icon-pencil"></i>Edit
                                                Details
                                            </button>
                                        </form>
                                    {% else %}
                                        {% if available %}
                                            <form action="{% url 'reserve'  book.id %}"
                                                  method="get">
                                                <button class="btn btn-primary"
                                                        type="submit"><i
                                                        class="icon-lock"></i>Reserve
                                                    Book
                                                </button>
                                            </form>
                                        {% else %}
                                            <button class="btn btn-secondary"
                                                    type="submit" disabled><i
                                                    class="icon-book-open"></i>Click
                                                to Reserve
                                            </button>
                                            <h6 class="text-secondary"><em>This
                                                book is currently not available
                                                for pick
                                                up. Check back tomorrow.</em>
                                            </h6>
                                        {% endif %}
                                    {% endif %}
                                    <div class="summary">
                                        <p>{{ book.description|truncatewords:70 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item"><a class="nav-link active"
                                                        role="tab"
                                                        data-toggle="tab"
                                                        id="description-tab"
                                                        href="#description">Description</a>
                                </li>
                                {#                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab"#}
                                {#                                                        id="specifications-tabs"#}
                                {#                                                        href="#specifications">Specifications</a>#}
                                {#                                </li>#}
                                {#                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="reviews-tab"#}
                                {#                                                        href="#reviews">Reviews</a></li>#}
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active fade show description"
                                     role="tabpanel" id="description">
                                    <p>{{ book.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clean-related-items">
                        <h3>Other Books in this Category</h3>
                        <div class="items">
                            <div class="row justify-content-center">
                                {% for similar_book in similar_books|slice:3 %}
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="clean-related-item">
                                            <div class="image"><a
                                                    href="{% url 'book' similar_book.id %}"><img
                                                    class="img-fluid d-block mx-auto"
                                                    src="https://storage.googleapis.com/silken-phalanx-266122.appspot.com/{{ similar_book.image|urlencode }}"
                                                    alt="Book cover for {{ similar_book.title }}"></a>
                                            </div>
                                            <div class="related-name"><a
                                                    href="{% url 'book' similar_book.id %}">{{ similar_book.title }}</a>
                                                <h4>{{ similar_book.author }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <h6 class="text-secondary">This is the only
                                        book in this category.</h6>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}