{% extends 'base_nav.html' %}
{% load static %}
{% block title %}
    Frequently Asked Questions (FAQ) | EduLine
{% endblock %}
{% block content %}
    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">FAQ</h2>
                    <p>“Reading is important, because if you can read, you can learn anything about everything and
                        everything about anything.” —Tomie dePaola</p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">For how long can I reserve a book before my reservation is cancelled?</h4>
                        <div class="answer">
                            <p>When a book is reserved, it must be picked up from the library the same day or the
                                following day.</p>
                            <p>Your reservation will be cleared if it is not picked up before the end of the following
                                day.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">What happens if I fail to return a book on time?</h4>
                        <div class="answer">
                            <p>A fine to the tune of &#x20a6;500 will be charged to your account once the stated date is
                                passed.</p>
                            <p>And for every consequent day, you will be charge an additional &#x20a6;100 until the book
                                is returned.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">Can I renew a borrowed book online?</h4>
                        <div class="answer">
                            <p>No, you cannot. You Are advised to visit the library with the book to extend the existing
                                return date before it is reached.</p>
                            <p>Once the return date has passed, you cannot extend the return date.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">How long can I keep a book without being fined?</h4>
                        <div class="answer">
                            <p>You are allowed to borrow a book for maximum of 10 days after which you will be fined.
                                The book can be returned anytime within those 10 days without any charges to your
                                account.</p>
                            <p><em>10 days is from the date of pick up from the library.</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
